- @hide_top_links = true
- @no_container = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, dashboard_projects_url(rss_url_options), title: "所有活动")

= content_for :above_breadcrumbs_content do
  = render_if_exists "shared/gold_trial_callout"

- page_title    "活动"
- header_title  "活动", activity_dashboard_path

%div{ class: container_class }
  = render "projects/last_push"
  = render 'dashboard/activity_head'

  %section.activities
    = render 'activities'
